*{
    box-sizing: border-box;
}
/* body & main */
body{
    background: rgb(239, 239, 239);
    margin: 0;
    font-family: 'Segoe UI', Roboto, sans-serif
}

main{
    
    width: 40%;
    margin:  0 auto 1rem auto;
    background-color: white;
    padding: 1rem 1rem 2rem 1rem;
}

header{
    margin: 1rem auto 0 auto;
    text-align: center;
}

/* Form */
legend{
    color: green;
    margin: 0 auto;
}

fieldset{
    width: 100%;
    border: 1px solid lightgrey;
    padding: 1rem;
    margin: 0 auto;
}

label{
    display: block;
    padding-bottom: .25rem;
}

#submit-button{
    border:none;
    background-color: green;
    border-color: green;
    border-radius: .25rem;
    text-decoration: none;
    color:white;
    font-size: 1rem;
    width: 100%;
    padding: .25rem;
    
}

input[type="text"], textarea, select{
    width: 100%;
    padding: 0.25rem;
}